### Data Quality Check

In [160]:
import pandas as pd
import os

In [161]:
#Look at the present working directory
os.getcwd()

'C:\\Users\\mansj\\IQL\\ExRx Data Quality'

In [162]:
article_list = pd.read_csv(r"C:\Users\mansj\IQL\data\Article_list.csv")
author_info = pd.read_csv(r"C:\Users\mansj\IQL\data\author_info_utf.csv")

In [163]:
# datadeposit items
article_list.head()

,Our ID,Our Item Type,Item Type,Publication Year,Author,Title,Publication Title,ISSN,DOI,URL,...,Pages,Num Pages,Issue,Volume,Publisher,Place,Language,Type,Our Sorting Date,Our Note
0,1,ReviewArticle,journalArticle,2013,"Mura, Gioia;Carta, Mauro Giovanni",Physical activity in depressed elderly. a syst...,Clinical Practice & Epidemiology in Mental Health,1745-0179,10.2174/1745017901309010125,https://clinical-practice-and-epidemiology-in-...,...,125-135,NaN,1,9,NaN,NaN,en,NaN,7/12/2013,NaN
1,2,ReviewArticle,journalArticle,2013,"Cooney, Gary M;Dwan, Kerry;Greig, Carolyn A;La...",Exercise for depression,Cochrane Database of Systematic Reviews,14651858,10.1002/14651858.CD004366.pub6,http://doi.wiley.com/10.1002/14651858.CD004366...,...,CD004366,NaN,9,2013,NaN,NaN,en,NaN,9/12/2013,NaN
2,3,ReviewArticle,journalArticle,2013,"Mammen, George;Faulkner, Guy",Physical activity and the prevention of depres...,American Journal of Preventive Medicine,7493797,10.1016/j.amepre.2013.08.001,https://linkinghub.elsevier.com/retrieve/pii/S...,...,649-657,NaN,5,45,NaN,NaN,en,NaN,11/1/2013,NaN
3,4,ReviewArticle,journalArticle,2013,"Cramer, Holger;Lauche, Romy;Langhorst, Jost;Do...",Yoga for depression: a systematic review and m...,Depression and Anxiety,10914269,10.1002/da.22166,http://doi.wiley.com/10.1002/da.22166,...,1068-1083,NaN,11,30,NaN,NaN,en,NaN,11/1/2013,NaN
4,5,ReviewArticle,journalArticle,2014,"Josefsson, T.;Lindwall, M.;Archer, T.",Physical exercise intervention in depressive d...,Scandinavian Journal of Medicine & Science in ...,9057188,10.1111/sms.12050,http://doi.wiley.com/10.1111/sms.12050,...,259-272,NaN,2,24,NaN,NaN,en,NaN,4/1/2014,NaN

In [164]:
#scopus retrieved author information
author_info.head()

,ID,Title,author_given_name,author_surname,author_id
0,1,Physical activity in depressed elderly. a syst...,Gioia,Mura,7005321937
1,1,Physical activity in depressed elderly. a syst...,Mauro Giovanni,Carta,7006714673
2,2,Exercise for depression,Gary. M.,Cooney,26028761700
3,2,Exercise for depression,Kerry,Dwan,25027473800
4,2,Exercise for depression,Carolyn A.,Greig,7003441733

In [165]:
#Unique id's in the article list
len(article_list["Our ID"].unique())

441

In [166]:
#Unique list of Id's in the article list
id_list = article_list["Our ID"].to_numpy()
id_list

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441],
      dtype=int64)

In [167]:
#Unique id's in the author info
len(author_info["ID"].unique())

441

In [168]:
#Unique list of Id's in the author info list
id_list_info = article_list["Our ID"].to_numpy()
id_list_info

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441],
      dtype=int64)

In [169]:
left_df = article_list[["Our ID", "Title"]]
left_df

     Our ID                                              Title
0         1  Physical activity in depressed elderly. a syst...
1         2                            Exercise for depression
2         3  Physical activity and the prevention of depres...
3         4  Yoga for depression: a systematic review and m...
4         5  Physical exercise intervention in depressive d...
..      ...                                                ...
436     437  Correlations between physical activity and neu...
437     438  Frailty and incident depression in community-d...
438     439  A systematic review of trials investigating st...
439     440  [Research of effects of eight-brocade of TCM o...
440     441  [Qigong Baduanjin rehabilitation of elderly pa...

[441 rows x 2 columns]

In [170]:
right_df = author_info[["ID", "Title"]].drop_duplicates()
right_df

       ID                                              Title
0       1  Physical activity in depressed elderly. a syst...
2       2                            Exercise for depression
10      3  Physical activity and the prevention of depres...
12      4  Yoga for depression: a systematic review and m...
16      5  Physical exercise intervention in depressive d...
...   ...                                                ...
2482  439  A systematic review of trials investigating st...
2489  440  [Research of effects of eight-brocade of TCM o...
2494  441  [Qigong Baduanjin rehabilitation of elderly pa...
2497  435  [Application of eight-section brocade in posto...
2500  108  The effect of exercise dose on quality of life...

[441 rows x 2 columns]

In [171]:
#merge the dataframes to validate the names retrieved from scopus 
merged_df = pd.merge(left_df, right_df, left_on="Our ID", right_on="ID", how="left")

In [172]:
merged_df.head()

,Our ID,Title_x,ID,Title_y
0,1,Physical activity in depressed elderly. a syst...,1,Physical activity in depressed elderly. a syst...
1,2,Exercise for depression,2,Exercise for depression
2,3,Physical activity and the prevention of depres...,3,Physical activity and the prevention of depres...
3,4,Yoga for depression: a systematic review and m...,4,Yoga for depression: a systematic review and m...
4,5,Physical exercise intervention in depressive d...,5,Physical exercise intervention in depressive d...

In [173]:
# Check the title names
for i in range(len(merged_df)):
    if merged_df.loc[i, 'Title_x'] != merged_df.loc[i, 'Title_y']:
        print("The title for article {} does not match".format(merged_df.loc[i, 'ID']))
        print("The title in the article article list is {}".format(merged_df.loc[i, 'Title_x']))
        
        print("The title in the autho info is {}".format(merged_df.loc[i, 'Title_y']))
        
    else:
        print("The title for article {} does match".format(merged_df.loc[i, 'ID']))

The title for article 1 does match
The title for article 2 does match
The title for article 3 does match
The title for article 4 does match
The title for article 5 does match
The title for article 6 does match
The title for article 7 does match
The title for article 8 does match
The title for article 9 does match
The title for article 10 does match
The title for article 11 does match
The title for article 12 does match
The title for article 13 does match
The title for article 14 does match
The title for article 15 does match
The title for article 16 does match
The title for article 17 does match
The title for article 18 does match
The title for article 19 does match
The title for article 20 does match
The title for article 21 does match
The title for article 22 does match
The title for article 23 does match
The title for article 24 does match
The title for article 25 does match
The title for article 26 does match
The title for article 27 does match
The title for article 28 does match
The title for article 29 does match
The title for article 30 does match
The title for article 31 does match
The title for article 32 does match
The title for article 33 does match
The title for article 34 does match
The title for article 35 does match
The title for article 36 does match
The title for article 37 does match
The title for article 38 does match
The title for article 39 does match
The title for article 40 does match
The title for article 41 does match
The title for article 42 does match
The title for article 43 does match
The title for article 44 does match
The title for article 45 does match
The title for article 46 does match
The title for article 47 does match
The title for article 48 does match
The title for article 49 does match
The title for article 50 does match
The title for article 51 does match
The title for article 52 does match
The title for article 53 does match
The title for article 54 does match
The title for article 55 does match
The title for article 56 does match
The title for article 57 does match
The title for article 58 does match
The title for article 59 does match
The title for article 60 does match
The title for article 61 does match
The title for article 62 does match
The title for article 63 does match
The title for article 64 does match
The title for article 65 does match
The title for article 66 does match
The title for article 67 does match
The title for article 68 does match
The title for article 69 does match
The title for article 70 does match
The title for article 71 does match
The title for article 72 does match
The title for article 73 does match
The title for article 74 does match
The title for article 75 does match
The title for article 76 does match
The title for article 77 does match
The title for article 78 does match
The title for article 79 does match
The title for article 80 does match
The title for article 81 does match
The title for article 82 does match
The title for article 83 does match
The title for article 84 does match
The title for article 85 does match
The title for article 86 does match
The title for article 87 does match
The title for article 88 does match
The title for article 89 does match
The title for article 90 does match
The title for article 91 does match
The title for article 92 does match
The title for article 93 does match
The title for article 94 does match
The title for article 95 does match
The title for article 96 does match
The title for article 97 does match
The title for article 98 does match
The title for article 99 does match
The title for article 100 does match
The title for article 101 does match
The title for article 102 does match
The title for article 103 does match
The title for article 104 does match
The title for article 105 does match
The title for article 106 does match
The title for article 107 does match
The title for article 108 does match
The title for article 109 does match
The title for article 110 does match
The title for article 111 does match
The title for article 112 does match
The title for article 113 does match
The title for article 114 does match
The title for article 115 does match
The title for article 116 does match
The title for article 117 does match
The title for article 118 does match
The title for article 119 does match
The title for article 120 does match
The title for article 121 does match
The title for article 122 does match
The title for article 123 does match
The title for article 124 does match
The title for article 125 does match
The title for article 126 does match
The title for article 127 does match
The title for article 128 does match
The title for article 129 does match
The title for article 130 does match
The title for article 131 does match
The title for article 132 does match
The title for article 133 does match
The title for article 134 does match
The title for article 135 does match
The title for article 136 does match
The title for article 137 does match
The title for article 138 does match
The title for article 139 does match
The title for article 140 does match
The title for article 141 does match
The title for article 142 does match
The title for article 143 does match
The title for article 144 does match
The title for article 145 does match
The title for article 146 does match
The title for article 147 does match
The title for article 148 does match
The title for article 149 does match
The title for article 150 does match
The title for article 151 does match
The title for article 152 does match
The title for article 153 does match
The title for article 154 does match
The title for article 155 does match
The title for article 156 does match
The title for article 157 does match
The title for article 158 does match
The title for article 159 does match
The title for article 160 does match
The title for article 161 does match
The title for article 162 does match
The title for article 163 does match
The title for article 164 does match
The title for article 165 does match
The title for article 166 does match
The title for article 167 does match
The title for article 168 does match
The title for article 169 does match
The title for article 170 does match
The title for article 171 does match
The title for article 172 does match
The title for article 173 does match
The title for article 174 does match
The title for article 175 does match
The title for article 176 does match
The title for article 177 does match
The title for article 178 does match
The title for article 179 does match
The title for article 180 does match
The title for article 181 does match
The title for article 182 does match
The title for article 183 does match
The title for article 184 does match
The title for article 185 does match
The title for article 186 does match
The title for article 187 does match
The title for article 188 does match
The title for article 189 does match
The title for article 190 does match
The title for article 191 does match
The title for article 192 does match
The title for article 193 does match
The title for article 194 does match
The title for article 195 does match
The title for article 196 does match
The title for article 197 does match
The title for article 198 does match
The title for article 199 does match
The title for article 200 does match
The title for article 201 does match
The title for article 202 does match
The title for article 203 does match
The title for article 204 does match
The title for article 205 does match
The title for article 206 does match
The title for article 207 does match
The title for article 208 does match
The title for article 209 does match
The title for article 210 does match
The title for article 211 does match
The title for article 212 does match
The title for article 213 does match
The title for article 214 does match
The title for article 215 does match
The title for article 216 does match
The title for article 217 does match
The title for article 218 does match
The title for article 219 does match
The title for article 220 does match
The title for article 221 does match
The title for article 222 does match
The title for article 223 does match
The title for article 224 does match
The title for article 225 does match
The title for article 226 does match
The title for article 227 does match
The title for article 228 does match
The title for article 229 does match
The title for article 230 does match
The title for article 231 does match
The title for article 232 does match
The title for article 233 does match
The title for article 234 does match
The title for article 235 does match
The title for article 236 does match
The title for article 237 does match
The title for article 238 does match
The title for article 239 does match
The title for article 240 does match
The title for article 241 does match
The title for article 242 does match
The title for article 243 does match
The title for article 244 does match
The title for article 245 does match
The title for article 246 does match
The title for article 247 does match
The title for article 248 does match
The title for article 249 does match
The title for article 250 does match
The title for article 251 does match
The title for article 252 does match
The title for article 253 does match
The title for article 254 does match
The title for article 255 does match
The title for article 256 does match
The title for article 257 does match
The title for article 258 does match
The title for article 259 does match
The title for article 260 does match
The title for article 261 does match
The title for article 262 does match
The title for article 263 does match
The title for article 264 does match
The title for article 265 does match
The title for article 266 does match
The title for article 267 does match
The title for article 268 does match
The title for article 269 does match
The title for article 270 does match
The title for article 271 does match
The title for article 272 does match
The title for article 273 does match
The title for article 274 does match
The title for article 275 does match
The title for article 276 does match
The title for article 277 does match
The title for article 278 does match
The title for article 279 does match
The title for article 280 does match
The title for article 281 does match
The title for article 282 does match
The title for article 283 does match
The title for article 284 does match
The title for article 285 does match
The title for article 286 does match
The title for article 287 does match
The title for article 288 does match
The title for article 289 does match
The title for article 290 does match
The title for article 291 does match
The title for article 292 does match
The title for article 293 does match
The title for article 294 does match
The title for article 295 does match
The title for article 296 does match
The title for article 297 does match
The title for article 298 does match
The title for article 299 does match
The title for article 300 does match
The title for article 301 does match
The title for article 302 does match
The title for article 303 does match
The title for article 304 does match
The title for article 305 does match
The title for article 306 does match
The title for article 307 does match
The title for article 308 does match
The title for article 309 does match
The title for article 310 does match
The title for article 311 does match
The title for article 312 does match
The title for article 313 does match
The title for article 314 does match
The title for article 315 does match
The title for article 316 does match
The title for article 317 does match
The title for article 318 does match
The title for article 319 does match
The title for article 320 does match
The title for article 321 does match
The title for article 322 does match
The title for article 323 does match
The title for article 324 does match
The title for article 325 does match
The title for article 326 does match
The title for article 327 does match
The title for article 328 does match
The title for article 329 does match
The title for article 330 does match
The title for article 331 does match
The title for article 332 does match
The title for article 333 does match
The title for article 334 does match
The title for article 335 does match
The title for article 336 does match
The title for article 337 does match
The title for article 338 does match
The title for article 339 does match
The title for article 340 does match
The title for article 341 does match
The title for article 342 does match
The title for article 343 does match
The title for article 344 does match
The title for article 345 does match
The title for article 346 does match
The title for article 347 does match
The title for article 348 does match
The title for article 349 does match
The title for article 350 does match
The title for article 351 does match
The title for article 352 does match
The title for article 353 does match
The title for article 354 does match
The title for article 355 does match
The title for article 356 does match
The title for article 357 does match
The title for article 358 does match
The title for article 359 does match
The title for article 360 does match
The title for article 361 does match
The title for article 362 does match
The title for article 363 does match
The title for article 364 does match
The title for article 365 does match
The title for article 366 does match
The title for article 367 does match
The title for article 368 does match
The title for article 369 does match
The title for article 370 does match
The title for article 371 does match
The title for article 372 does match
The title for article 373 does match
The title for article 374 does match
The title for article 375 does match
The title for article 376 does match
The title for article 377 does match
The title for article 378 does match
The title for article 379 does match
The title for article 380 does match
The title for article 381 does match
The title for article 382 does match
The title for article 383 does match
The title for article 384 does match
The title for article 385 does match
The title for article 386 does match
The title for article 387 does match
The title for article 388 does match
The title for article 389 does match
The title for article 390 does match
The title for article 391 does match
The title for article 392 does match
The title for article 393 does match
The title for article 394 does match
The title for article 395 does match
The title for article 396 does match
The title for article 397 does match
The title for article 398 does match
The title for article 399 does match
The title for article 400 does match
The title for article 401 does match
The title for article 402 does match
The title for article 403 does match
The title for article 404 does match
The title for article 405 does match
The title for article 406 does match
The title for article 407 does match
The title for article 408 does match
The title for article 409 does match
The title for article 410 does match
The title for article 411 does match
The title for article 412 does match
The title for article 413 does match
The title for article 414 does match
The title for article 415 does match
The title for article 416 does match
The title for article 417 does match
The title for article 418 does match
The title for article 419 does match
The title for article 420 does match
The title for article 421 does match
The title for article 422 does match
The title for article 423 does match
The title for article 424 does match
The title for article 425 does match
The title for article 426 does match
The title for article 427 does match
The title for article 428 does match
The title for article 429 does match
The title for article 430 does match
The title for article 431 does match
The title for article 432 does match
The title for article 433 does match
The title for article 434 does match
The title for article 435 does match
The title for article 436 does match
The title for article 437 does match
The title for article 438 does match
The title for article 439 does match
The title for article 440 does match
The title for article 441 does match

In [175]:
## All the article names are matching with the scopus retrieved titles.