In [119]:
import pandas as pd
import numpy as np

In [120]:
# add article_list
article_list = pd.read_csv("raw_data/Article_list.csv")

In [121]:
data = pd.read_csv('raw_data/salt_cont_auth_updated_hyper_tension.csv')

In [122]:
data.loc[data['manual']== True ,'ID'].sort_values().unique()

array([ 8, 10, 29, 32, 35, 36, 37, 44, 72], dtype=int64)

Note: Article 8, 10, 29, 32, 35, 36, 37, 44, and 72 are maunally scraped.

In [123]:
# prepare the two output for concatenation
output_2 = pd.read_csv("raw_data/output_doi_2022-03-08-09-42-05.csv")
output_2 = article_list[['ID', 'Title']].merge(output_2, on='ID')
output_2.rename(columns={"Title":"title"},inplace=True)
output_2.head(5)
output_2['organizational_author'] = np.nan
output_2['manual'] = False
output_2.head(5)

,ID,title,author_given_name,author_surname,author_id,organizational_author,manual
0,6,Reduced dietary salt for the prevention of car...,Rod S.,Taylor,55628530729,NaN,False
1,6,Reduced dietary salt for the prevention of car...,Kate E.,Ashton,26644694600,NaN,False
2,6,Reduced dietary salt for the prevention of car...,Tiffany,Moxham,26657630700,NaN,False
3,6,Reduced dietary salt for the prevention of car...,Lee,Hooper,57202855325,NaN,False
4,6,Reduced dietary salt for the prevention of car...,Shah,Ebrahim,56500020000,NaN,False

In [124]:
output_1 = pd.read_csv("raw_data/output_2022-03-07-16-43-10.csv")
output_1.drop(columns=["scp_title","title_match(true/false)"], inplace=True)
index_to_remove = output_1.index[output_1.ID.isin(list(output_2.ID.sort_values().unique()))]
output_1.drop(index = index_to_remove, axis=0,inplace=True)
output_1['organizational_author'] = np.nan
output_1['manual'] = False
output_1.rename(columns={"original_title":'title'}, inplace=True)
output_1.head(5)

,ID,title,author_given_name,author_surname,author_id,organizational_author,manual
0,1,Systematic review of long term effects of advi...,Lee,Hooper,57202855325,NaN,False
1,1,Systematic review of long term effects of advi...,Christopher,Bartlett,57194377301,NaN,False
2,1,Systematic review of long term effects of advi...,George Davey,Smith,35354080500,NaN,False
3,1,Systematic review of long term effects of advi...,Shah,Ebrahim,7102093023,NaN,False
4,2,Reduced dietary salt for prevention of cardiov...,L.,Hooper,57202855325,NaN,False

In [125]:
# concatenate two dataframes
final_output = pd.concat([output_1,output_2],axis=0)

In [126]:
# prepare the concatenate the manually retrieved data
manual_data = data[data['manual']].copy()
manual_data.rename(columns={"original_title": "title"},inplace=True)

In [127]:
# final concatenation
final_dataframe = pd.concat([final_output,manual_data],axis=0)

In [128]:
final_dataframe.ID.sort_values().unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
       46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,
       63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79,
       80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93],
      dtype=int64)

In [129]:
len(final_dataframe.ID.sort_values().unique())

82

In [130]:
final_dataframe.to_csv("salt_cont_author.csv",index=False, encoding='UTF-8')