In [1]:
import pandas as pd

In [5]:
data = pd.read_excel(io='raw_data/salt_cont_auth_updated_id.xlsx')

In [6]:
data.head(5)

,ID,original_title,author_given_name,author_surname,author_id,organizational_author,manual
0,1,Systematic review of long term effects of advi...,Lee,Hooper,5.720286e+10,NaN,False
1,1,Systematic review of long term effects of advi...,Christopher,Bartlett,5.719438e+10,NaN,False
2,1,Systematic review of long term effects of advi...,George Davey,Smith,3.535408e+10,NaN,False
3,1,Systematic review of long term effects of advi...,Shah,Ebrahim,7.102093e+09,NaN,False
4,2,Reduced dietary salt for prevention of cardiov...,L.,Hooper,5.720286e+10,NaN,False

In [11]:
data.ID.sort_values().unique() # total number matches

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
       46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,
       63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79,
       80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93],
      dtype=int64)